<h3><%=@server.name%>'s Tables</h3>

<ul>
  <%@server.parties.each do |party|%>
  <a href="/parties/<%=party.id%>">
    <li><%=party.table_name%></a>
      <!-- pay update button -->
       </li>
  <form class="" action="/parties/<%=party.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove">
  </form>
  <%end%>
</ul>
<a href="/parties/new?waitstaff=<%= @server.id %>">Add a party</a>
<a href="/">Back to Servers</a>
<form class="" action="servers/:id" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete server">
</form>
