<header>
  <form class="right-align" action="servers/:id" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button top-right" type="submit" value="delete server">
  </form>
  <h3><%=@server.name%>'s Tables</h3>
</header>


<ul id="body">
  <div class="row">
  <%@server.parties.reverse_each do |party|%>
      <div class="col s6 m4 l2">
        <a class= ""href="/parties/<%=party.id%>">
          <%if party.paid%>
            <li class="table done-party ">
          <%elsif party.items.length>0 && party.paid==false%>
            <li class="table food-party ">
          <%elsif party.items.length==0%>
            <li class="table new-party ">
          <%end%>
            <%=party.table_name%></li></a>
            <!-- pay update button -->
        <form class="" action="/parties/<%=party.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Remove">
        </form>
        <br>
      </div>

  <%end%>
  </div>
</ul>


<footer>
  <div  class="row -wrapper">
        <a class=" col s6 " href="/">Back to Servers</a>

      <a class="col s6 " href="/parties/new?waitstaff=<%= @server.id %>">Add a party</a>
  </div>
</footer>
