<h3>Reciept</h3>
<%total=0%>
<%@items.each { |item| total+=item.food.price }%>
<div class="row" id=body>

  <div class= "col s10 offset-s1 reciept-box" >
    <ul >
    <div class="col s4 offset-s1 left">
        Product <br><br>
      <%@items.each do |item|%>
        <p class="prices">
          <%=item.food.name%>
        </p>
      <%end%>
    </div>
    <div class="col s4 offset-s1 right">
      Price <br><br>
      <%@items.each do |item|%>
        <p class="prices">
          <%=item.food.price%>
        </p>
      <%end%>
    </div>
    </ul>
    <div class="col s9 offset-s2" style="border-bottom:dotted darkgrey 2px">
    <br>
    </div>

    <br><br>
    <p><div class=" tip col s12 center">
      25% tip: <%=(total*1.25).round(2)%>
      </div>
      <div class="  col s12 center">
      20% tip: <%=(total*1.2).round(2)%>

      </div>
      <div class=" col s12 center">
      15% tip: <%=(total*1.15).round(2)%>

    </div></p>
    <div class="col s5 offset-s1 left">
      <h5 class="total">Total:</h5>
    </div>
    <div class="col s5 offset-s1 right">
      <h5 class="total"><%=total%></h5>
    </div>
  </div>

</div>

<footer>
  <div  class="row valign-wrapper">
      <a class=" col s12 valign " href="/parties/<%=@items[0].party.id%>">Back</a>
  </div>
</footer>
