<h3>new order</h3>
<!-- list orders on bottom, redirect to this page -->
<form  action="/items" method="post">
  <input type="hidden" name="item[party_id]" value="<%=@party%>">
  <!--  something that lists all food types? not sure, that seems tideous and bad ux...
         buttons?-->
  <select class="" name="item[food_id]">
    <%@foods.each do |food|%>
      <option value="<%=food.id%>">
        <%=food.name%>
      </option>
    <%end%>
  </select>
  <!-- <button type="button" name="item[food_id]" value="<%=food.id%>"><%=food.name%></button> -->

  <input type="text" name="item[description]" value=' ' placeholder="description">
  <input type="submit">
</form>
